site_name: ChatSpatial Documentation
site_description: AI-Powered Spatial Transcriptomics Analysis via Model Context Protocol
site_url: https://cafferychen777.github.io/ChatSpatial/
repo_url: https://github.com/cafferychen777/ChatSpatial
repo_name: cafferychen777/ChatSpatial
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  - What is MCP?: resources/what_is_mcp.md
  - Getting Started:
      - Overview: getting-started/README.md
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quick-start.md
  - Tutorials:
      - Overview: tutorials/README.md
      - Core Tutorials:
          - Basic Analysis: tutorials/core/basic_spatial_analysis.md
          - Spatial Statistics: tutorials/core/spatial_statistics.md
          - Visualization: tutorials/core/visualization_tutorial.md
      - Analysis Tutorials:
          - Cell Type Annotation: tutorials/analysis/cell_type_annotation.md
          - Cell Communication: tutorials/analysis/cell_communication_analysis.md
          - Spatial Enrichment: tutorials/analysis/spatial_enrichment.md
      - Advanced Tutorials:
          - GASTON Analysis: tutorials/advanced/gaston_analysis.md
          - Batch Integration: tutorials/advanced/batch_integration.md
          - Spatial Registration: tutorials/advanced/spatial_registration.md
          - Trajectory Analysis: tutorials/advanced/trajectory_analysis.md
      - Learning Paths:
          - Beginner: tutorials/learning-paths/beginner.md
          - Intermediate: tutorials/learning-paths/intermediate.md
          - Advanced: tutorials/learning-paths/advanced.md
  - Reference:
      - API Reference: reference/api/README.md
      - Configuration: reference/configuration.md
      - Data Formats: reference/data_formats.md
      - Performance: reference/performance.md
      - Benchmarks: reference/benchmarks.md
      - Troubleshooting: reference/troubleshooting/common_issues.md
  - Examples:
      - Overview: examples/README.md
      - Datasets: examples/datasets/README.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - content.tooltips
    - toc.follow
    - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      title: On this page
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: cafferychen777
      repo: ChatSpatial
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/cafferychen777/ChatSpatial
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/chatspatial/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/cafferychen777

extra_javascript:
  - https://unpkg.com/mermaid@10.6.1/dist/mermaid.min.js
  - javascripts/mermaid.js

copyright: |
  &copy; 2024 <a href="https://github.com/cafferychen777" target="_blank" rel="noopener">Caffery Yang</a>

